extends layout

block content
    .top-content
        .container
            include header
            .row
                .col-sm-8.col-sm-offset-2.text
                    h1
                        strong List Match
            .row.mb-30
                .col-sm-1.mb-20
                    a.btn.btn-primary(href='/', role='button') Go Back!
                .col-sm-12.form-box
                    .form-top
                        h3 LIST MATCH
                        .form-group
                            table.datatable-tabletools.table.table-hover.table-bordered
                                thead
                                    tr
                                        th ID
                                        th GROUP
                                        th Home Team
                                        th Away Team
                                        th Date
                                        th Finished
                                        th Home Result
                                        th Away Result
                                        th List User Choose
                                tbody
                                    each group in groups
                                        each match in group.matches
                                            tr
                                                td #{match.name}
                                                td #{group.name}
                                                    each team in teams
                                                        if team.id == match.home_team
                                                            td #{team.emojiString} #{team.name}
                                                    each team in teams
                                                        if team.id == match.away_team
                                                            td #{team.emojiString} #{team.name}
                                                td #{new Date(match.date).toLocaleString()}
                                                td #{match.finished}
                                                td #{match.home_result}
                                                td #{match.away_result}
                                                td
                                                    ul.list-unstyled
                                                        each user in users
                                                            each u in user.matches
                                                                if (u.match_name == match.name)
                                                                    li #{user.name} (#{u.time}) [#{u.choose}]